<%-include('header')-%> 

<div class="box" style="background-color: #e9e6f0;">
    <h2>This is sample ToDoList App : Made By FourEyesDev</h2>

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere expedita libero obcaecati. Pariatur ad tempore facere accusantium quidem! Voluptatem nesciunt totam ut corrupti soluta quod nemo veritatis atque delectus? Doloribus.</p>
</div>

<%-include('footer')-%> 