<script src="https://kit.fontawesome.com/5bc63bba00.js" crossorigin="anonymous"></script>
</body>
<footer>
    <p>Copyright <i class="fa fa-copyright" aria-hidden="true"></i> : Made By <img src="../images/favicon2.png"> FourEyesDev  </p>
</footer>
</html>