<script src="https://kit.fontawesome.com/5bc63bba00.js" crossorigin="anonymous"></script>
</body>
<footer>
    <p>Copyright <i class="bi bi-c-circle" aria-hidden="true"> <%= currYear %> </i> : Made By <i class="fas fa-glasses" aria-hidden="true" style="font-size: 1.5rem; color: #8a41e9;"></i> FourEyesDev  </p>
</footer>
</html>
<!-- <img src="/favicon.ico" width="20px"> -->