<script src="https://kit.fontawesome.com/5bc63bba00.js" crossorigin="anonymous"></script>
</body>
<footer>
    <p>Copyright <i class="fa fa-copyright" aria-hidden="true"> <%= currYear %> </i> : Made By <i class="fas fa-glasses" style="color: #c765e7;"></i> FourEyesDev  </p>
</footer>
</html>
<!-- <img src="/favicon.ico" width="20px"> -->